.woocommerce-billing-fields .ppec-bypass.hidden {
	display: none !important;
}

.payment_method_ppec_paypal img {
	max-height: 68px !important;
}

.wc-gateway-ppec-cancel {
	display: block;
	text-align: center;
	padding: 10px;
}
